/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Apr, 2023, 4:24:59 PM
    Author     : nikhil
*/

html { 
    font-size: calc(0.6vmin + 0.5rem);
}

/*Margins and paddings to ensure correct scrollspy behavior*/
/*This will have to be adjusted if navbar height changes*/
.about-container,
.citizen-centric-container,
.awareness-container,
.faq-container,
.social-container,
.image-gallery-container,
.web-links-container {
    padding-top: 50px;
    margin-top: -50px;
}

.banner-container {
    padding-bottom: 1rem;
    padding-top: 65px;
    margin-top: -50px;
}

/*Margins and paddings settings end*/

/*.accordion-button:not(.collapsed) {
    color: #A36002 !important;
    background-color: #FFEDD4 !important;
}*/

.emblem-image {
    height: 100% !important;
    width: 45px !important;
}

.accordion-button:not(.collapsed) {
    color: #187cff !important;
    background-color: #ebf5ff !important;
}

/*.accordion-body {
    background-color: #FCF8F0 !important;
}*/

.accordion-body {
    background-color: #fafdff !important;
}

.accordion-button {
    font-size: 1.2rem !important;
}

.red-card {
    background-image: url('../img/red-pattern.jpg');
    background-size: cover;
}

.green-card {
    background-image: url('../img/green-pattern.jpg');
    background-size: cover;
}

.orange-card {
    background-image: url('../img/orange-pattern.jpg');
    background-size: cover;
}

.primary-card {
    /*background-image: url('/sancharsaathi/images/pattern22.jpg');
    background-size: cover;*/
}

/*
.tafcop-card-1 {
    background-image: url('/sancharsaathi/images/pattern19.jpg');
    background-size: cover;
}

.tafcop-card-2 {
    background-image: url('/sancharsaathi/images/pattern17.jpg');
    background-size: cover;
}

.tafcop-card-3 {
    background-image: url('/sancharsaathi/images/pattern20.jpg');
    background-size: cover;
}
*/

/*.ceir-dashboard-col {
    background-image: url('/sancharsaathi/images/pattern28.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 2px white inset;
}

.tafcop-dashboard-col {
    background-image: url('/sancharsaathi/images/pattern29.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 2px white inset;
}*/

.image-gallery-container {
    /*background-image: url('/sancharsaathi/images/pattern10.jpg');
    background-size: cover;*/
}

.banner-container {
    background-image: url('/sancharsaathi/images/banner-pattern.jpg');
    background-size: cover;
}

.dashboard-container {
    /*background-image: url('/sancharsaathi/images/pattern9.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 2px white inset;*/
}

.faq-container {
    /*background-image: url('/sancharsaathi/images/pattern15.jpg');
    background-size: cover;*/
}

.about-container {
    /*background-image: url('/sancharsaathi/images/pattern24.jpg');*/
    /*background-size: cover;*/
}

.ceir-tafcop-card-body {
    border: #fd9933 8px solid;
}

#ceir-tafcop-tab {
    background-color: #fd9933;
}

.gsc-control-cse {
    padding: 0px !important;
    margin: 0px !important;
}

.gsc-input {
    font-size: 14px !important;
    padding-right: 5px !important;
}

.gsc-input-box {
    border-radius: 4px !important;
    height: 30px;
}

.gsc-search-button {
    border-radius: 4px !important;
}

.gsc-search-button-v2 {
    padding: 7px 27px !important;
}

.gsib_a {
    padding: 4px 9px 4px 9px !important;
}

html {
    height: 100%;
}

.section-header {
    display: inline-block;
    /*color: #744700;*/
    font-family: 'Paytone One', sans-serif;
    font-size: 3rem;
}

.section-header-image {
    max-height: 80px;
    max-width: 80px;
}

.section-header-icon {
    font-size: 2.3em;
    color: #b76f00;
}

.body-background {
    background-color: #ffffff;
}

.goi-text {
    font-size: 0.95rem !important;
}

.top-utilities-text {
    font-size: 0.95rem !important;
    font-weight: 500 !important;
}

.top-utilities-icon {
    font-size: 1.3rem !important;
}

.dot-text {
    margin-left: 0;
    font-size: 1.2rem !important;
}

.sanchar-saathi-text {
    font-size: 1.2rem !important;
}

.moc-card-body-bg {
    background-color: #deecff;
}

.mos-card-body-bg {
    background-color: #deecff;
}

.img-gallery {
    max-width: 300px;
    max-height: 250px;
}

body{
    height: 100%;
    display:flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer-top {
    background: #353535;
}

.footer-top-heading {
    font-weight: 600 !important;
    color: #003471 !important;
}

.footer-bottom {
    background: #222222;
}

.dropdown-toggle::after {
    border-top: .3em solid transparent;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.text-size-dropdown-menu {
    min-width: 15px !important;
}

.dropdown-menu {
    /*Set z index to 1021 because sticky navbar has z-index of 1020
    and we want to show dropdown menu on top of that*/
    z-index: 1021 !important;
}

.social-icon-dropdown-menu {
    min-width: 15px !important;
    font-size: 1.3rem !important;
}

.text-justify {
    text-align: justify;
}

.ceir-poster-body {
    background-color: cornsilk;
}

.tafcop-poster-body {
    background-color: cornsilk;
}

.dashboard-title-text {
    font-family: 'Paytone One', sans-serif;
    font-size: 2rem;
}

.callout {
    border-left-width: 10px !important;
    border: yellow 1px solid;
}

.callout-danger {
    border-left-color: #d9534f !important;
}

.info-card-body {
    padding: 4.55rem !important;
    font-family: 'Raleway', sans-serif;
}

.callout-success {
    border-left-color: #5cb85c !important;
}

.callout-orange {
    border-left-color: #ff9f40 !important;
}

.callout-orange-title {
    color: #854200 !important;
}

.callout-purple {
    border-left-color: #a77bff !important;
}

.callout-purple-title {
    color: #884dff !important;
}

.callout-primary {
    border-left-color: #0275d8 !important;
}

.callout-magenta {
    border-left-color: #d351d1 !important;
}

.callout-magenta-title {
    color: #d90ad6 !important;
}

.dashboard-heading,
.about-heading, 
.citizen-centric-heading, 
.awareness-heading, 
.social-heading, 
.faq-heading, 
.gallery-heading, 
.web-links-heading {
    font-family: 'Paytone One', sans-serif;
    font-size: 3rem;
}

.title-image {
    max-height: 80px;
    max-width: 80px;
}

.about-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4rem;
}

.contactus-text,
.feedback-text,
.website-policies-text,
.web-information-manager-text,
.footer-text,
.sitemap-text,
.faq-text,
.modal-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
}

.minister-card {
    font-family: 'Nunito Sans', sans-serif;
}

.minister-name-text {
    font-size: 1.25rem !important;
}

.navbar-text {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3rem;
}

.navbar-brand-img {
    max-height: 35px !important;
    max-width: 35px !important;
}

.navbar-toggler {
    border: #222222 1px solid !important;
}

.citizen-centric-card-heading {
    font-family: 'Staatliches', cursive;   
}

.swiper {
    width: 100%;
    height: 100%;
}

.banner-swiper-wrapper {
    max-height: 30vh;
}

.banner-pagination .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

/*Design for citizen centric services cards start*/

.citizen-centric-container * {
    transition: all 0.3s ease-out;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.citizen-centric-card {
    display: block;
    top: 0px;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
}
.citizen-centric-card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
.citizen-centric-card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}
.citizen-centric-card:hover:before {
    transform: scale(2.15);
}

/*Design for citizen centric services cards end*/


/*Design for awareness start*/

.awareness-container * {
    transition: all 0.3s ease-out;
}

.awareness-card {
    display: block;
    top: 0px;
    position: relative;
    /* max-width: 262px; */
    background-color: #ffffff;
    border-radius: 14px;
    padding: 32px 24px;
    margin: 12px; 
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #cccccc;
    margin-bottom: 4rem!important;
}
.awareness-card .go-corner {
    background-color: #00838d;
    height: 100%;
    width: 30px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(3deg);
    margin-right: -87px;
    align-items: start;
    background-image: linear-gradient(-45deg, #8F479A 1%, #DC2A74 100%);
}
.awareness-card .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
}
.awareness-card:hover {
    border: 1px solid #CD3D73;
}
.awareness-card h3 {
    margin-top: 8px;
}

.awareness-card:hover .go-corner {
    margin-right: -12px;
}
.awareness-card:hover .go-arrow {
    opacity: 1;
}

.awareness-img {
    max-height: 100px;
    max-width: 100px;
}

.awareness-slide {
    height: auto;
}

.awareness-card-heading {
    font-family: 'Kanit', sans-serif;
}

.h-80 {
    height: 80% !important;
}

.awareness-link {
    font-family: 'Nunito Sans', sans-serif;
}
/*Design for awareness end*/


.gallery-swiper {
    padding-bottom: 4rem;
}

.web-links-swiper {
    padding-bottom: 4rem;
}

.dt-body-center {
    text-align: center !important;
}

/*Navbar styling start*/

/*#nav-bar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}*/

/*#nav-bar {
    background: linear-gradient(128deg, #beffdc, #d8ff68);
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
}*/

#nav-bar {
    background: linear-gradient(128deg, #bedaff, #4f99ff);
    /*box-shadow: 4px 6px 12px rgba(0,0,0,0.4);*/
}

/*.nav-link {
    background: #fae8d2;
}*/

/*.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
        -4px -4px 8px #f7e5cc;
}*/

/*.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #79ffb7, #e7ffa3);
    box-shadow: 4px 4px 8px #93f689, -4px -4px 8px #f6ffeb;
}*/

.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #79d5ff, #bdd6ff);
    box-shadow: 4px 4px 4px #59a3c4, -4px -4px 4px #a6deff;
}

#nav-bar .dropdown-menu a:hover {
    color: #454545
}
#nav-bar .nav-item {
    margin : auto 4px;
}
#nav-bar a {

    padding-left:12px;
    padding-right:12px;
}
#nav-bar .dropdown-menu {
    background : #545454
}
a.navbar-brand {
    color: #454545
}

/*Separator color should match with Navbar*/
.separator {
    background: #bedaff;
}
/*Navbar styling end*/

/*Google Translate element styling begin*/
.goog-te-combo {
    font-family: 'Nunito Sans', sans-serif !important;
    cursor: pointer !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    background-color: #d6e7ff !important;
    border: none !important;
    padding: 1.1px !important;
    font-size: 0.8rem !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
    font-size: 0.6rem !important; 
}

.goog-te-gadget {
    font-size: 0.6rem !important;
}

.goog-te-combo option {
    font-weight: 600 !important;
}
/*Google Translate element styling end*/

.useful-link-img {
    display: flex !important;
    width: auto !important;
    max-height: 60px !important;
}

.separating-border {
    border-right: #bedaff 5px solid;
}

.ig-moc-col {
    border-bottom: none;
}

@media screen and (max-width: 1199px) {
    .separating-border {
        border-bottom: #bedaff 5px solid;
        border-right: none;
    }
}

@media screen and (max-width: 767px) {
    .ig-moc-col {
        border-bottom: #dee2e6 1px solid;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .dot-text {
        margin-left: 1rem;
    }
}