/*Google Translate element styling begin*/
.goog-te-combo {
    font-family: 'Nunito Sans', sans-serif !important;
    cursor: pointer !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    background-color: #d6e7ff !important;
    border: none !important;
    padding: 1.1px !important;
    font-size: 0.8rem !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
    font-size: 0.6rem !important; 
}

.goog-te-gadget {
    font-size: 0.6rem !important;
}

.goog-te-combo option {
    font-weight: 600 !important;
}
/*Google Translate element styling end*/

.tafcop-card-heading {
    font-family: 'Kanit', sans-serif;
}

.tafcop-card-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem !important;
}

.top-card {
    border-left-width: 7px;
    border-left-color: #5ba2ff;
    border-right-width: 7px;
    border-right-color: #5ba2ff;
    background: url('../img/blue-background.jpg');
    background-size: cover;
}

.form-card {
    border-left-width: 7px;
    border-left-color: #5ba2ff;
    border-right-width: 7px;
    border-right-color: #5ba2ff;
}

html {
    font-size: calc(0.6vmin + 0.7rem) !important;
}

.gsc-control-cse {
    padding: 0px !important;
    margin: 0px !important;
}

.gsc-input {
    font-size: 14px !important;
    padding-right: 5px !important;
}

.gsc-input-box {
    border-radius: 4px !important;
    height: 30px;
}

.gsc-search-button {
    border-radius: 4px !important;
}

.gsc-search-button-v2 {
    padding: 5px 29px !important;
}

.gsib_a {
    padding: 4px 9px 4px 9px !important;
}

.text-large {
    font-size: 1.2rem !important;
}

.kym-background {
    background-color: #bedaff !important;
}

.kym-method-background {
    background-color: #e5f1fb;
}

.faq-background {
    background-color: #fafdff !important;
}

.faq-header-background {
    background-color: #ebf5ff !important;
    cursor: pointer;
}

.accordion-button {
    color: #187cff !important;
    font-size: 1rem !important;
    font-weight: bold;
}

.share-block-background {
    background-color: #ebf5ff !important;
}

.header-top-text {
    font-weight: 700;
    font-size: 10px !important;
}

.header-top-text a {
    color: black;
}

a {
    text-decoration: none !important;
}

.left-col-align {
    text-align: right;
}

.dot-hindi-text {
    font-weight: 600;
    margin-top: 10px;
}

.dot-telecom-text {
    font-weight: 800;
    font-size: 24px;
    margin-top: -6px;
}

.info-card {
    border-radius: 10px;
}

.section-header {
    display: inline-block;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-link {
    text-decoration: none !important;
    transition: 0.5s all;
}

.dropdown-menu {
    min-width: 60px !important;
}

body {
    font-size: 100%;
}

p {
    font-size: 1rem !important;
}

a {
    font-size: 1rem !important;
}

h2 {
    font-size: 1.8rem !important;
}

h5 {
    font-size: 1.3rem !important;
}

button {
    font-size: 1rem !important;
}

html, body {
    height: 100%;
}

body{
    display:flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.footer-top {
    background: #353535 !important;
}

.footer-top-heading {
    font-weight: 600 !important;
    color: #003471 !important;
}

.footer-bottom {
    background: #222222 !important;
}

.all-caps{
    font-variant: small-caps;
}

.emblem-image {
    height: auto !important;
    width: 45px !important;
}

.ig-moc-col {
    border-bottom: none;
}

.goi-text {
    font-size: 0.8rem !important;
}

.top-utilities-icon {
    font-size: 1rem !important;
}

.top-utilities-text {
    font-size: 0.65rem !important;
    font-weight: 500 !important;
}

.skip-content-text {
    font-size: 0.8rem !important;
    font-weight: 500 !important;
}

.text-size-dropdown-menu {
    min-width: 15px !important;
}

.social-icon-dropdown-menu {
    min-width: 15px !important;
    font-size: 1.3rem !important;
}

.dot-text {
    margin-left: 0;
    font-size: 1.1rem !important;
}

.dropdown-toggle::after {
    border-top: .3em solid transparent;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.language-text {
    font-size: 0.9rem !important;
}

.navbar-text {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3rem;
}

.navbar-brand-img {
    max-height: 35px !important;
    max-width: 35px !important;
}

.navbar-toggler {
    border: #222222 1px solid !important;
}

#nav-bar {
    background: linear-gradient(128deg, #bedaff, #4f99ff);
    /*box-shadow: 4px 6px 12px rgba(0,0,0,0.4);*/
}

.nav-color {
    background: linear-gradient(128deg, #bedaff, #4f99ff);
}

.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #79d5ff, #bdd6ff);
    box-shadow: 4px 4px 4px #59a3c4, -4px -4px 4px #a6deff;
}

#nav-bar .dropdown-menu a:hover {
    /*color: #4f99ff !important;*/
}

#nav-bar .nav-item {
    margin : auto 4px;
}
#nav-bar a {

    padding-left:12px;
    padding-right:12px;
}
#nav-bar .dropdown-menu {
    background : #bedaff !important;
}

#nav-bar .dropdown-menu a:hover {
    background: #79b1ff !important;
}

.nav-link {
    color: #022355 !important;
    font-size: 1.2rem !important;
}

.nav-dropdown-link {
    color: #022355 !important;
    font-size: 1.2rem !important;
}

.dropdown-menu {
    /*Set z index to 1021 because sticky navbar has z-index of 1020
    and we want to show dropdown menu on top of that*/
    z-index: 1021 !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.banner-pagination .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.banner-swiper-wrapper {
    max-height: 60vh;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.red-card {
    background-image: url('../img/red-pattern.jpg');
    background-size: cover;
}

.green-card {
    background-image: url('../img/green-pattern-2.jpg');
    background-size: cover;
}

.orange-card {
    background-image: url('../img/orange-pattern.jpg');
    background-size: cover;
}

.callout {
    border-left-width: 10px !important;
    border: white 1px solid;
}

.callout-danger {
    border-left-color: #d9534f !important;
}

.callout-success {
    border-left-color: #5cb85c !important;
}

.callout-orange {
    border-left-color: #ff9f40 !important;
}

.callout-orange-title {
    color: #854200 !important;
}

.info-card-body {
    padding: 0.9rem !important;
}

.separator {
    background: #bedaff;
}

@media screen and (max-width: 767px) {
    .ig-moc-col {
        border-bottom: #dee2e6 1px solid;
    }
}

.contact-page-link {
    font-size: 1.5rem !important;
}

@media screen and (max-width: 768px) {
    .left-col-align, .right-col-align {
        text-align: center;
    }
    .dot-text {
        font-size: 17px;
        margin-left: 20px;
    }
    .dot-hindi-text {
        margin-top: 15px;
    }
    .dot-telecom-text {
        font-size: 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .dot-text {
        margin-left: 1rem;
    }
}